.plan-card {
    box-shadow: 0px 1px 32px 0px #aeacf359;
    padding: 68px 32px 25px 32px;
    width: 100%;
    min-width: 278px;
    background-color: #fff;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 638px;
    flex: 1;
    height: 100%;

    &__content-information {
        display: flex;
        justify-content: space-between;
        position: relative;
        gap: 0.5em;

        h2 {
            font-size: 20px;
            font-weight: 900;
            line-height: 32px;
            letter-spacing: -0.2px;
        }

        &__content-badge {
            position: absolute;
            top: -25px;
        }
    }

    &__content-price {
        padding: 1em 0;
        border-bottom: 1px solid var(--neutral-400);

        &__title {
            line-height: 16px;
            font-weight: 900;
            letter-spacing: 0.6px;
            color: var(--neutral-600);
            font-size: 10px;
        }

        &__before-price {
            text-decoration: line-through;
            letter-spacing: -0.2px;
            line-height: 20px;
            font-weight: 400;
            font-size: 14px;
            color: var(--neutral-600);
        }

        &__price {
            font-size: 20px;
            font-weight: 900;
            line-height: 28px;
            letter-spacing: -0.2px;
            color: var(--neutral-700);
        }
    }

    &__content-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2em;

        ul {
            width: 100%;
            padding-left: 20px;

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.1px;
                margin-bottom: 1em;
            }
        }

        div {
            width: 100%;
            margin-top: 2em;
        }
    }
}
