@import "../../_mixins.scss";

.badge {
    background: var(--background-gradient-aqua);
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--grey-100);
    height: 20px;
    display: inline-block;

    @include breakpoint-small {
        height: 24px;
        font-weight: 700;
        font-size: 14px;
        padding: 4px 8px;
    }

    &--plan {
        background-color: var(--aqua);
        border-radius: 6px;
        height: 20px;
        color: var(--neutral-700);
        line-height: 16px;
        font-size: 12px;
    }
}
